.main_heading{
    text-align: center;
    font-size: 59px;
    margin-top: 40px;
    color: white;
    margin-bottom: 30px;
}
.bg_color{
   background-color: black;
}
.images{
    height: 200px;
    width:250px;
    overflow: hidden;
    margin: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

p{
    font-size: 28px;
    font-weight: 600;
    color: black;

}

.card-container{
    background-color: white;
    border-radius: 25px;
    margin: 20px;
}