* {
    margin: 0px;
    box-sizing: content-box;
}

.login-bg {
    background-color: black;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    font-family: "Roboto";
    font-size: 12px;
}

.login-h {
    font-family: "Caveat";
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;

}

.login-form {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    max-width: 300px;
    margin: auto;
}

.login-form-img {
    height: 25px;
    margin-right: 10px;
}

.login-form-sec {
    margin-bottom: 15px;
}

.login-img {
    height: 150px;
}

.login-btn {
    height: 20px;
    width: 60px;
    background-color: #3DC322;
    color: #ffffff;
    border: 0px solid;
    border-radius: 8px;
    margin: 10px;
}