.login-bg {
    background-color: black;
    background-size: cover;
    height: 100vh;
}

.login-h {
    font-family: "Caveat";
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.login-form {
    background-color: white;
    border-radius: 10px;
}

.login-form-img {
    height: 30px;
}

.login-img {
    height: 150px;
}